@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-btn-light: #3b82f6;
  --color-btn-light-hv: #2563eb;

  --color-btn-dark: #3b82f6;
  --color-btn-dark-hv: #60a5fa;

  --color-txt-dark: #f9fafb;
  --color-txt-light: #111827;

  --color-page-dark: #0f172a;
  --color-page-light: #f3f4f6;
}
